<!-- 主页面图表组件 show页面展示用-->

<!-- <!DOCTYPE html>
<html lang="en"> -->

<!--<head>-->
  <!-- <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>图表</title> -->
<!--</head>-->

<!--<body>-->

  <div class="col-md-12">
  <!--功率-->

  <div class="row">
    <div class="col-md-6">
      <div class="charGrid" id="showMainEcharts_1">

        <strong class="title" style="color: white"></strong>

        <a class="time"></a>

        <div id="echarts_div_1" style="height: 310px">

        </div>

      </div>

    </div>

    <div class="col-md-6">

      <div class="charGrid" id="showMainEcharts_2">

        <strong class="title" style="color: white"></strong>

        <a class="time"></a>

        <div id="echarts_div_2" style="height: 310px"></div>

      </div>

    </div>

  </div>

  <!--SOC-->

  <div class="row">

    <div class="col-md-6">

      <div class="charGrid" id="showMainEcharts_3">

        <strong class="title" style="color: white"></strong>

        <a class="time"></a>

        <div id="echarts_div_3" style="height: 310px"></div>

      </div>

    </div>

    <div class="col-md-6">

      <div class="charGrid" id="showMainEcharts_4">

        <strong class="title" style="color: white"></strong>

        <a class="time"></a>

        <div id="echarts_div_4" style="height: 310px"></div>
      </div>

    </div>

  </div>

</div>

<!--</body>-->

<!-- </html> -->