<!DOCTYPE html>
<html lang="en">

<!--<head>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>主接线路图</title>
<!--</head>-->
<style>
    #myIframe{
        height: 600px;
        width: 1460px;
    }
</style>
<!--<body>-->
        <div id="content">
        <input type="hidden" id="areaId">
        <input type="hidden" id="titleId">
        <div class="container" id="yzc_mainView">
            <!-- 主接线路图 -->
            <iframe id="myIframe" src="http://119.3.171.138:8080/ht-for-web/ht/skipShow?id=111"  hidden name="demo" frameborder="0" scrolling="auto"
                sandbox="allow-same-origin allow-top-navigation allow-forms allow-scripts"></iframe>
       </div>
       </div>
        
<!--</body>-->
</html>