
<!--分界面横向导航栏-->
<!DOCTYPE html>
<html lang="en">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>横向导航栏</title>-->
<!--</head>-->
<!--<body>-->
<!--横向导航栏-->
<div>
    <input type="hidden" id="areaId">
    <input type="hidden" id="titleId">
    <div class="container" style="margin-top:99px;text-align:center">
        <div id="base_menu_bar" style="display:flex">
          <div onclick="getZJXT(),clickTitleId('zjxt','主接线图')" style="flex: 1;display:block">
            <a id="zjxt">
              主接线图
            </a>
          </div>
    
          </div>
        </div>
</div>
<script></script>
<!--</body>-->

</html>