<!-- 重要信息展示模块，主页展示show页面使用 -->



<div id="content" style="margin-top:79px">
  <div class="col-md-12">
    <div class="row" id="mainZCN-Head" style="padding-bottom: 15px;">
      <div style="height:89px;box-shadow:#121d38 5px 5px 10px 2px;background-color: #33435c;border-radius: 8px;">
        <div class="area_home_top_block" style="width: 30%">
          <div class="area_home_top_block_img">
            <img src="static/images/area_top_1.png"/>
          </div>
          <div class="area_home_top_block_txt" id="mainHead_1">
            <a class="name" style="color: white"></a>
            <a class="numValue" style="color:#198ffc"></a>
            <a class="unit" style="color: #198ffc"></a>
          </div>
          <div class="area_home_top_block_txt" id="mainHead_2">
            <a class="name" style="color: white"></a>
            <a class="numValue" style="color:#198ffc"></a>
            <a class="unit" style="color: #198ffc"></a>

          </div>
        </div>
        <div class="area_home_top_block" style="width: 30%">
          <div class="area_home_top_block_img">
            <img src="static/images/area_top_2.png"/>
          </div>
          <div class="area_home_top_block_txt" id="mainHead_3" style="padding-left: 20px">
            <a class="name" style="color: white"></a>
            <a class="numValue" style="color:#198ffc"></a>
            <a class="unit" style="color: #198ffc"></a>

          </div>
          <div class="area_home_top_block_txt" id="mainHead_4" style="padding-left: 20px">
            <a class="name" style="color: white"></a>
            <a class="numValue" style="color:#198ffc"></a>
            <a class="unit" style="color: #198ffc"></a>

          </div>
        </div>
        <div class="area_home_top_block" style="width: 30%">
          <div class="area_home_top_block_img">
            <img src="static/images/area_top_3.png"/>
          </div>
          <div class="area_home_top_block_txt" id="mainHead_5">
            <a class="name" style="color: white"></a>
            <a class="numValue" style="color:#198ffc"></a>
            <a class="unit" style="color: #198ffc"></a>

          </div>
          <div class="area_home_top_block_txt" id="mainHead_6">
            <a class="name" style="color: white"></a>
            <a class="numValue" style="color:#198ffc"></a>
            <a class="unit" style="color: #198ffc"></a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--<script src="common/js/ajaxMode.js"  defer></script>-->
<!--<script src="common/js/alert_gen.js" defer></script>-->
<!--<script src="common/js/prj_UI_cfg.js" defer></script>-->
<!--<script src="common/js/pzmain_config.js" defer></script>-->
<!--<script src="common/js/treeOperation.js" defer></script>-->
<!--<script src="common/js/head_gen.js" defer></script>-->

