<!-- 配置模块散点图与单体信息 show显示页面div -->

<!DOCTYPE html>
<html lang="en">

<!--<head>-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>散点图&单体设备</title>
<!--</head>-->
<!--<body>-->
  <div class="col-md-12" style=" margin:15px 0 ;">
    <!--散点图-->
    <div class="row select-margin col-md-5" id="echarts_show_div" style="margin-right: 25px;">
      <div id="yzc_bat" class="charGrid" style="min-height: 564px">
        <p style="width:100%;text-align: center;color: white;" id="batTitle" class="title"></p>
        <div class="row" id="echarts-div"></div>
      </div>
    </div>

    <!--单体设备光字牌数据集-->
    <div class="row col-md-7" id="single-div">
      <div id="DT_Device_parent" class="charGrid" style="min-height: 564px;">
        <div id="DT_Device"></div>
      </div>
    </div>
  </div>
<!--</body>-->
</html>