<!DOCTYPE html>
<html lang="en">
<!--<head>-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>非发电区</title>
<!--</head>-->
       <div id="content" >
        <input type="hidden" id="areaId">
        <input type="hidden" id="titleId">
           <!-- 非发电区-->
          <div id="f_div_1" style="display: none;margin-left: 20%;">
          </div>
          <div id="f_div_2" style="display: none;margin-left: 20%;">
          </div>
          <div id="f_div_3" style="display: none;margin-left: 20%;">
          </div>
          <div id="f_div_4" style="display: none;margin-left:20%;">
          </div>
         </div>
<!--</body>-->
</html>